node_modules/
.env
*.log
logs/

economy.json
giveaways.json
commands-logs.json
counts.json
customRoles.json
pending-donations.json
purchases.json
reminders.json
state.json
data/*.json

.DS_Store
npm-debug.log*
